.administradorTarjetaEspecialidades {
    background-color: gold;
    display: flex;
    padding-left: 5px;
    column-gap: 8px;
    border-bottom: 1px solid grey;
}

.administradorTarjetaEspecialidades p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 28px;
}

.nombreDocumentoEspecialidades input{
    width: 150px;
}
.ingredientes input {
    width: 305px;
}

.precio input {
    width: 73px;
}